.back_btn {
  width: 45px;
  position: absolute;
  top: 123px;
  left: 10%;
  content: url(../../../public/img/backArrow.png);
}
.back_btn:hover {
  content: url(../../../public/img/backArrowHover.png);
}
.back_btn img {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .back_btn {
    width: 30px;
    left: 7%;
  }
}
