:root {
  --toneDown-white: #f0f4f5;
  --toneDown-black: #0a0a0a;
  --gray-white: #e3e3e3;
  --recruit-section: #616060;
  --header-color: #202020;
  --header-hover: #434343;
  --footer-color: #29272f;
  --ewhaian-pink: #eb1568;
  --teamInfo-bg-color: #121212;
  --title-color: white;
  --description-color: #e3e3e3;
}
