
:root {
    --info-max-width: 1440px;
    --info-max-height: 1246px;
}

.info_container{
    width:100vw;
    height:1246px;
    left: 0px;
    top: 99px;

    background: #0A0A0A;
}

.info_inner_container {
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

.info_inner_inner_container {
    margin-right: 3%;
    display: flex;
    flex-direction: column;
}

.info_content_title{

    margin-top: 10%;

    font-weight: 600;
    font-size: 68px;
    line-height: 82px;

    color: #FFFFFF;

}

.info_content_text{
    margin-top: 10%;
    margin-left: 3%;

    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* or 127% */


    color: #E3E3E3;
}

.info_content_text div{
    margin-bottom: 5px;
}

.info_frame{
    margin-left: 3%;
}

.info_frameImg{
    width: 552px;
    height: 420px;
}

.info_recruitment{
    display: flex;
    flex-direction: column;

    color: #FFFFFF;
}

.info_recruitment_schedule{
    display: flex;
    justify-content: center;

}

.info_recruitment_title{
    display: flex;
    margin-right: 5%;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.info_recruitment_schedule_list {
    display: flex;
    list-style-type: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.info_recruitment_schedule_list li{
    padding-left: 1%;
    padding-right: 1%;
}

.info_recruitment_schedule_stage{
    text-align: center;
}

.info_recruitment_schedule_date{
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
}

.arrow{
    font-weight: 500;
    font-size: 35px;
    margin-top: 5%;
}

.info_recruitment_section {
    display: flex;
    padding-right: 1.5%;
    justify-content: center;    
}

.info_recruitment_section_list {
    display: flex;
    list-style-type: none;
    font-weight: 500;
    font-size: 33px;
    line-height: 40px;
}

.info_recruitment_section_list_list{
    display: flex;
    margin-right: 10%;
    width: 214px;
    height: 56px;
    
    text-align: center;
    
}

.info_recruitment_section_list_list span {
    width: 214px;
    height: 56px;
    background-color: gray;
    border-radius: 19px;
}




.info_recruitment_requirements {
    display: flex;
    padding-right: 1%;
    justify-content: center;

}

.info_recruitment_requirements_list {
    list-style-type: none;
    font-weight: 500;
    font-size: 33px;
    line-height: 40px;
}

@media screen and(max-width: 768px) {
    
}
