.design_detail_activity_container {
  width: 100%;
  height: auto;
  background-color: var(--toneDown-black);
}
.design_detail_activity_inner_container {
  max-width: var(--nav-bar-max-width);
  margin: 0 auto;
}
.design_detail_activity_content_container {
  width: 92%;
  margin: 0 auto;
}
.design_detail_activity_part_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.design_detail_activity_part1_container {
  border-bottom: 1px solid rgba(208, 208, 208, 0.17);
}
.design_detail_activity_title {
  font-size: 45px;
  font-weight: 600;
  color: var(--title-color);
  text-align: center;
}
.design_detail_activity_description {
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  color: var(--description-color);
  word-break: keep-all;
  margin-top: 29px;
}
.design_detail_activity_part1_title {
  padding-top: 143px;
}
.design_detail_activity_part1_description {
  margin-bottom: 60px;
}
.design_detail_activity_subTitle {
  font-size: 24px;
  font-weight: 600;
  color: var(--title-color);
  margin-top: 48px;
  margin-bottom: 5px;
  text-align: center;
}
.design_detail_activity_part2_container {
  position: relative;
  border-bottom: 1px solid rgba(208, 208, 208, 0.17);
}
.design_detail_activity_part2_subContent_wrapper {
  width: 84%;
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.design_subContent_btn {
  width: 38%;
  position: relative;
}
.design_subContent_btn img {
  width: 100%;
}
.design_subContent_label {
  font-size: 25px;
  font-weight: 600;
  color: var(--title-color);
  position: absolute;
  top: 0;
  margin-top: 8%;
  margin-left: 7%;
}
.subContent1 {
  margin-right: 20px;
  margin-bottom: 8px;
}
.subContent2 {
  margin-left: 20px;
  margin-bottom: 8px;
}
.subContent3 {
  margin-right: 20px;
  margin-top: 8px;
}
.subContent4 {
  margin-left: 20px;
  margin-top: 8px;
}
.design_detail_activity_part3_subContent_wrapper {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 260px;
}
.design_detail_activity_part3_subContent_inner_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.design_detail_activity_part3_subContent4_logos {
  width: 40%;
}
.design_detail_activity_part3_subContent4_logos img {
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
.design_detail_activity_part3_subContent4_lecture {
  width: 60%;
}
.design_detail_activity_part3_subContent4_lecture img {
  width: 90%;
  display: block;
  margin: 0 auto;
}
.popup {
  width: 100%;
  position: absolute;
  top: 15vh;
}
@media screen and (max-width: 700px) {
  .design_detail_activity_part2_subContent_wrapper {
    width: 100%;
  }
  .design_subContent_btn {
    width: 40%;
  }
  .subContent1 {
    margin-right: 12px;
    margin-bottom: 8px;
  }
  .subContent2 {
    margin-left: 12px;
    margin-bottom: 8px;
  }
  .subContent3 {
    margin-right: 12px;
    margin-top: 8px;
  }
  .subContent4 {
    margin-left: 12px;
    margin-top: 8px;
  }
}
@media screen and (max-width: 480px) {
  .design_detail_activity_title {
    font-size: 30px;
  }
  .design_detail_activity_subTitle {
    font-size: 16px;
  }
  .design_subContent_label {
    font-size: 15px;
  }
  .design_detail_activity_part3_subContent_wrapper {
    margin-top: 70px;
  }
}
