#html {
  background-color: #dccef5;
}
#css {
  background-color: #fbe6a4;
}
#javascript {
  background-color: #e5e8eb;
}
#react {
  background-color: #f8d6d7;
}
#nodejs {
  background-color: #d2edb4;
}
#aws {
  background-color: #cee1fc;
}
#mongodb {
  background-color: #a8e0be;
}
#git {
  background-color: #c0c6ff;
}
