
:root {
    --info-max-width: 1440px;
    --info-max-height: 1246px;
}

.info_body_container{
  width: 100%;
  height: auto;
  background: var(--toneDown-black);
}

.info_container{
  max-width: var(--nav-bar-max-width);
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.info_inner_container {
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

.info_inner_inner_container {
    display: flex;
    margin-right: auto;
    flex-direction: column;
}

.info_content_title{

    margin-top: 10%;

    font-weight: 600;
    font-size: 45px;
    line-height: 54px;

    color: var(--toneDown-white);

}

.info_content_text{
    margin-top: 10%;

    font-weight: 500;
    font-size: 17px;
    line-height: 27px;


    color: var(--gray-white);
}

.info_content_text div{
    margin-bottom: 5px;
}


.info_frameImg{
    margin-left: auto;
    width: 325px;
    height: 247px;
}

.info_recruitment{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-right: auto;

    color: var(--toneDown-white);
}

.info_recruitment_schedule{
    display: flex;
    justify-content: center;

}

.info_recruitment_title{
    display: flex;
    margin-right: 3%;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.info_recruitment_content{
    padding-right: 10%;
}

.info_recruitment_schedule_list {
    display: flex;
    list-style-type: none;
}

.info_recruitment_schedule_list li{
    margin : 0 auto;
}

.info_recruitment_schedule_stage{
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    
    color: #E3E3E3;
}

.info_recruitment_schedule_date{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    
    color: #A8A8A8;
}

.arrow{
    font-weight: 500;
    font-size: 35px;
    margin-top: 5%;
}

.info_recruitment_section {
    display: flex;
    padding-right: 1.5%;
    justify-content: center;    
}

.info_recruitment_section_list {
    display: flex;
    list-style-type: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
    color: #EB1568;
}

.info_recruitment_section_list_list{
    display: flex;
    margin-right: 10%;
    width: 103px;
    height: 36px;

    
    text-align: center;
    
}

.info_recruitment_section_list_list span {
    width: 103px;
    height: 36px;
    line-height: 36px;
    border: 1.1px solid #EB1568;
    border-radius: 100px;
}




.info_recruitment_requirements {
    display: flex;
    padding-right: 1%;
    justify-content: center;

}

.info_recruitment_requirements_list {
    list-style-type: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
}

.info_recruitment_menu{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.info_recruitment_menu_list_1{
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    margin-top:2%;
}
.info_recruitment_menu_list_2 {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
}

.info_recruitment_menu_list_1 a{
    width: 300px;
    height: 50px;
    background: #EB1568;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}
.info_recruitment_menu_list_2 a {
    width: 300px;
    height: 50px;
    background: #505050;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}

@media screen and(max-width: 768px) {
    
}
