.popup_container {
  width: 60%;
  height: auto;
  position: relative;
  border-radius: 39px;
  margin: 0 auto;
  background-color: #121212;
  border: 1px solid rgba(60, 60, 60, 1);
  box-shadow: 7px 6px 4px 0px rgba(67, 67, 67, 0.25);
}
.popup_inner_container {
  width: 86%;
  margin: 0 auto;
}
.popup_content_wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.popup_content_title {
  font-size: 35px;
  font-weight: 600;
  padding-top: 60px;
  color: var(--title-color);
}
.popup_category {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.popup_category img {
  height: 30px;
}
.popup_category_label {
  font-size: 17px;
  font-weight: 500;
  margin-left: 5px;
  color: var(--description-color);
}
.popup_description {
  font-size: 17px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 15px;
  color: var(--description-color);
  white-space: pre-line;
  line-height: 27px;
}
.popup_img_container {
  margin-top: 32px;
  margin-bottom: 100px;
}
.popup_exitBtn_wrapper {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: var(--ewhaian-pink);
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10%;
  margin-right: 8%;
  box-shadow: 8px 6px 4px 0px rgba(0, 0, 0, 0.3) inset;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.popup_exitBtn_x {
  width: 50%;
  height: 50%;
  position: relative;
}
.popup_exitBtn_x img {
  width: 100%;
  visibility: hidden;
  position: absolute;
  top: 0;
}
.popup_exitBtn_x:hover > .popup_xBtn {
  visibility: visible;
}
.popup_img_container img {
  width: 100%;
}
.popup_img1 {
  margin-bottom: 20px;
}
@media screen and (max-width: 700px) {
  .popup_container {
    width: 90%;
  }
  .popup_exitBtn_wrapper {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 480px) {
  .popup_container {
    width: 100%;
  }
  .popup_exitBtn_wrapper {
    width: 20px;
    height: 20px;
  }
  .popup_content_title {
    font-size: 27px;
  }
}
