.register_checkInfo_container {
    width: 1448px;
    height: 925px;
    left: 0px;
    top: 99px;
    color: #B0A8A8;

    position: absolute;

    background: #B0A8A8;
    border: 1px solid #000000;
}

.register_checkInfo_inner_container {
    display: flex;
    justify-content: center;
    align-items: column;
}

.register_checkInfo_title {

    font-weight: 400;
    font-size: 60px;
    line-height: 73px;

    color: #000000;
}

.register_checkInfo_title {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;

    color: #000000;
}

.register_checkInfo_form_container {
    display: flex;
    justify-content: center;
}

.register_checkInfo_nameForm_label register_checkInfo_labels {
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;

    color: #000000;

    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.register_checkInfo_forms {

    width: 771px;
    height: 87px;
    left: 339px;
    top: 310px;

    background: #D9D9D9;
    border-radius: 23px;
}

.register_checkInfo_studentIdForm_label register_checkInfo_labels {
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;

    color: #000000;
}

.register_checkInfo_ewhaianIdForm_label register_checkInfo_labels {
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;

    color: #000000;
}

.register_checkInfo_button {
    background: #D9D9D9;

    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
}