:root {
    --register-showResult-main-content-font-size: 32px;
    --register-showResult-main-content-description-font-size: 20px;
    --register-showResult-interview-date-font-size: 24px;
    --register-showResult-interview-content-font-size: 16px;
    --register-showResult-masterTraining-info-font-size: 24px;
    --register-showResult-masterTraining-description-font-size: 16px;
    --register-showResult-list-line-height: 28px;
    --register-showResult-masterTraining-end-font-size: 20px;
}

.register_showResult {
    width: 100%;
    height: 100%;
    background-color: var(--toneDown-black);
}

.register_showResult_container {
    max-width: var(--nav-bar-max-width);
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 196px;
}

.register_showResult_inner_container {
    width: 92%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.register_showResult_main_content_container {
    width: 100%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.register_showResult_main_content {
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: var(--register-showResult-main-content-font-size);
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 2px;
    color: var(--toneDown-white);

}

.register_showResult_main_content_description {
    font-size: var(--register-showResult-main-content-description-font-size);
    font-weight: 400;
    line-height: var(--register-showResult-list-line-height);
    text-align: left;
    margin-bottom: 1%;
    color: var(--gray-white);
}


.register_showResult_main_content_survey_container {
    display: flex;

}

.register_showResult_main_content_survey {
    font-size: var(--register-showResult-main-content-description-font-size);
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: var(--gray-white);
}

.register_showResult_main_content_survey_link {
    font-size: var(--register-showResult-main-content-description-font-size);
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-left: 2%;
    color: var(--ewhaian-pink);
}

.register_showResult_preAssignment_container {
    display: flex;
}

.register_showResult_preAssignment_content {
    font-size: var(--register-showResult-main-content-description-font-size);
    font-weight: 400;
    line-height: var(--register-showResult-list-line-height);
    text-align: left;
    margin-bottom: 1%;
    color: var(--gray-white);
}

.register_showResult_interview_container {
    width: 92%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.register_showResult_interview_date {
    font-weight: 700;
    font-size: var(--register-showResult-interview-date-font-size);
    line-height: 40px;
    color: var(--ewhaian-pink);
}

.register_showResult_interview_content {
    font-weight: 400;
    font-size: var(--register-showResult-interview-content-font-size);
    line-height: 28px;
    color: var(--gray-white);
}

.register_showResult_back_to_main_container {
    margin: 0 auto;
    margin-top: 5%;
    width: 220px;
    height: 50px;
    background-color: var(--back-to-main-btn-color);
    border-radius: 40px;
    text-align: center;
    line-height: 50px;
    font-weight: var(--not-period-title-font-weight);
}

.register_showResult_bottomDetail {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: var(--gray-white);
    align-self: center;
}

.register_showResult_masterTraining_container {
    width: 92%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
}

.register_showResult_masterTraining_info {
    margin-top: 3%;
    font-weight: 700;
    font-size: var(--register-showResult-masterTraining-info-font-size);
    line-height: 33px;
    color: var(--ewhaian-pink);
}

.register_showResult_masterTraining_description {
    margin-bottom: 3%;
    font-weight: 400;
    font-size: var(--register-showResult-masterTraining-description-font-size);
    line-height: var(--register-showResult-list-line-height);
    /* or 26px */
    color: var(--gray-white);
}

.register_showResult_masterTraining_end {
    font-weight: 400;
    font-size: var(--register-showResult-masterTraining-end-font-size);
    color: var(--gray-white);
}