:root {
    --success-text-font-size: 45px;
    --success-text-font-weight: 800;
    --success-text-line-height: 3.8rem;
    --mobile-success-text-font-size: 25px;
    --mobile-success-text-font-weight: 800;
    --mobile-success-text-line-height: 2.4rem;
}

.apply_success {
    width: 100%;
    height: 100%;
    background-color: var(--toneDown-black);
}

.apply_success_container {
    max-width: var(--nav-bar-max-width);
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 196px;
}

.apply_success_inner_container {
    max-width: var(--nav-bar-max-width);
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-top: 20%;
}

.success_checkmark_wrapper {
    text-align: center;
}

.success_checkmark {
    height: 50px;
}

.apply_success_text {
    width: 100%;
    text-align: center;
    font-size: var(--success-text-font-size);
    font-weight: var(--success-text-font-weight);
    letter-spacing: 2px;
    color: var(--toneDown-white);
    margin-top: 2%;
    line-height: var(--success-text-line-height);
}

.success_back_to_main_btn {
    margin: 0 auto;
    margin-top: 5%;
    width: 220px;
    height: 50px;
    background-color: var(--back-to-main-btn-color);
    border-radius: 40px;
    text-align: center;
    line-height: 50px;
    font-weight: var(--not-period-title-font-weight);
}

.success_back_to_main_btn:hover {
    background-color: var(--ewhaian-pink);
    color: var(--toneDown-white);
    cursor: pointer;
    transition: 0.3s;
}

@media screen and (max-width: 768px) {
    .apply_success_text {
        width: 100%;
        text-align: center;
        font-size: var(--mobile-success-text-font-size);
        font-weight: var(--mobile-success-text-font-weight);
        letter-spacing: 2px;
        color: var(--toneDown-white);
        margin-top: 2%;
        line-height: var(--mobile-success-text-line-height);
    }
}