:root {
    --register-checkInfo-form-labels-font-size: 22px;
    --register-checkInfo-form-labels-small-font-size: 14px;
    --register-checkInfo-forms-color: #3c3b3b;
    --register-checkInfo-forms-border-radius: 15px;
    --register-checkInfo-button-border-radius: 20px;
    --register-checkInfo-form-labels-font-weight: 700;
    --register-checkInfo-forms-height: 40px;
    --register-checkInfo-forms-button-height: 50px;
    --register-checkInfo-forms-margin-top: 3%;
    --register-checkInfo-forms-margin-bottom: 7%;
    --register-checkInfo-forms-fileUpload-color: #bfbfbf;
}

.register_newEnroll {
    width: 100%;
    height: 100%;
    background-color: var(--toneDown-black);
}

.register_newEnroll_container {
    max-width: var(--nav-bar-max-width);
    /*background-color: aqua;*/
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 196px;
}

.register_newEnroll_inner_container {
    /*background-color: aquamarine;*/
    width: 92%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.register_newEnroll_title {
    width: 100%;
    /*background-color: rgb(140, 140, 0);*/
    text-align: center;
    font-size: var(--register-landing-title-font-size);
    font-weight: var(--register-landing-title-font-weight);
    letter-spacing: 2px;
    color: var(--toneDown-white);
    margin-top: 5%;
}

.register_newEnroll_fileDownload_wrapper {
    width: 100%;
    position: relative;
    margin-bottom: var(--register-checkInfo-forms-margin-bottom);
}

.register_newEnroll_fileDownload {
    width: 100%;
    position: absolute;
    text-align: right;
}

.fileDownload_text {
    animation-name: fileDownload;
    animation-duration: 0.9s;
    animation-iteration-count: 3;
    /* animation-fill-mode: forwards; */
}

.fileDownload_text:hover {
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes fileDownload {
    0% {
        transform: translateY(0)
    }

    10% {
        transform: translateY(1px)
    }


    20% {
        transform: translateY(2px);
    }

    30% {
        transform: translateY(3px);
    }

    40% {
        transform: translateY(4px);
    }

    50% {
        transform: translateY(5px)
    }

    60% {
        transform: translateY(4px);
    }

    70% {
        transform: translateY(3px);
    }

    80% {
        transform: translateY(2px);
    }

    90% {
        transform: translateY(1px);
    }

    100% {
        transform: translateY(0px)
    }
}

.register_newEnroll_fileDownload a {
    color: var(--ewhaian-pink);

}

.register_newEnroll_form_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    /*background-color: blue;*/
    align-items: center;
    margin-top: 2%;
}

.register_newEnroll_teamForm_wrapper {
    width: 100%;
    /*background-color: rgb(0, 64, 64);*/
    margin-left: 0;
    color: var(--toneDown-white);
    margin-bottom: var(--register-checkInfo-forms-margin-bottom);

}

[type="radio"] {
    vertical-align: initial;
    margin-left: 3%;
}

[type="radio"]:checked {
    vertical-align: initial;
    appearance: none;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    background-color: var(--ewhaian-pink);
    border: max(1px, 0.1em) solid gray;
}

[type="radio"]:hover {
    cursor: pointer;
}

.register_newEnroll_teamForm .register_newEnroll_labels {
    margin-left: 0;
}

.register_newEnroll_teamForm_radioBtn {
    text-align: center;
    margin: 0 auto;

}

.register_newEnroll_nameForm_wrapper {
    width: 100%;
    /*background-color: rgb(0, 64, 64);*/
    margin-bottom: var(--register-checkInfo-forms-margin-bottom);
}

.register_newEnroll_studentIdForm_wrapper {
    width: 100%;
    /*background-color: blueviolet;*/
    margin-bottom: var(--register-checkInfo-forms-margin-bottom);
}

.register_newEnroll_studentIdForm_label_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.register_newEnroll_ewhaianIdForm_wrapper {
    width: 100%;
    /*background-color: brown;*/
    margin-bottom: var(--register-checkInfo-forms-margin-bottom);
}


.register_newEnroll_fileUpload_wrapper {
    width: 100%;
    /*background-color: blueviolet;*/
    margin-bottom: 15%;
}

.resigter_newEnroll_fileUpload_container {
    display: flex;
    justify-content: flex-start;
}

.label_text {
    font-size: var(--register-checkInfo-form-labels-small-font-size);
    color: var(--toneDown-white);
    margin-left: 2%;
}

.upload_file_text {
    color: var(--register-checkInfo-forms-fileUpload-color);
    font-size: 17px;
    padding-left: 3%;
}

.upload_file_text_container {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.upload_file_img_container {
    margin-left: auto;
    width: auto;
    height: auto;
    text-align: right;
    padding-right: 3%;
    padding-top: 1%;
}

.upload_file_img {
    width: 25%;
}

.upload_file_text_container:hover {
    cursor: pointer;
}

.register_newEnroll_button_wrapper {
    width: 100%;
    /*background-color: yellowgreen;*/
    text-align: center;
}

.register_newEnroll_labels {
    font-size: var(--register-checkInfo-form-labels-font-size);
    font-weight: var(--register-checkInfo-form-labels-font-weight);
    color: var(--toneDown-white);
    padding: 8px 5px;
}

.register_newEnroll_forms {
    width: 96%;
    height: var(--register-checkInfo-forms-height);
    background-color: var(--register-checkInfo-forms-color);
    border-color: transparent;
    border-radius: var(--register-checkInfo-forms-border-radius);
    color: var(--toneDown-white);
    font-size: 17px;
    padding-left: 15px;
    font-weight: 600;
    padding: 10px;
    border-width: 0;
}

.register_newEnroll_button {
    width: 100%;
    height: var(--register-checkInfo-forms-button-height);
    background-color: var(--toneDown-white);
    border-color: transparent;
    border-radius: var(--register-checkInfo-button-border-radius);
    font-size: 18px;
    color: var(--toneDown-black);
    font-weight: var(--register-checkInfo-form-labels-font-weight);
}

.register_newEnroll_button:hover {
    cursor: pointer;
    background-color: var(--ewhaian-pink);
    color: var(--toneDown-white);
    transition: 0.3s;
}

.register_newEnroll_studentIdForm_wrapper input::placeholder {
    color: var(--toneDown-white);
    font-size: 15px;
    opacity: 50%;
}

@media screen and (max-width: 768px) {
    .register_newEnroll_form_container {
        width: 70%;
    }

    .register_newEnroll_title {
        font-size: var(--register-landing-title-font-size);
    }

    [type="radio"] {
        vertical-align: initial;
        margin-left: 3%;
        border-radius: 50%;
        width: 1.2em;
        height: 1.2em;
    }

    [type="radio"]:checked {
        vertical-align: initial;
        appearance: none;
        border-radius: 50%;
        width: 1.2em;
        height: 1.2em;
        background-color: var(--ewhaian-pink);
        border: max(1px, 0.1em) solid gray;
    }
}

@media screen and (max-width: 650px) {
    .register_newEnroll_title {
        font-size: 38px;
        margin-top: 8%;
    }
}

@media screen and (max-width: 500px) {
    .register_newEnroll_title {
        font-size: 32px;
        margin-top: 10%;
    }
}

@media screen and (max-width: 480px) {
    .register_newEnroll_form_container {
        width: 80%;
    }

    .register_newEnroll_labels {
        font-size: 18px;
    }
}