.main {
    width: 100%;
    height: 100%;
    background: var(--toneDown-black);
    display: flex;
    flex-direction: column;
}

.main h1 {
    font-size: 45px;
    font-weight: 700;
    color: white;
    letter-spacing: 10px;
    text-align: center;
    padding-top: 143px;
}

.applicant_list_container {
    margin: auto;
    display: inline-block flex;
    flex-direction: column;
    padding-top: 18px;
}

.applicant_list_container nav {
    display: flex;
}

.applicant_list_container button {
    border: 0;
    width: 7.8rem;
    height: 2.4rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 6.3rem;
    margin-right: 0.5rem;
    /* background-color: var(--register-checkInfo-forms-color); */
    border-color: transparent;
    color: var(--toneDown-white);
    cursor: pointer;
}

.applicant_list_container h2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.index {
    background-color: var(--register-checkInfo-forms-color);
    border-color: transparent;
    color: var(--toneDown-white);
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.6rem;
    margin-right: 0.3rem;
    text-align: center;
}

.apply_list section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.apply_list p {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.05rem;
}

.apply_list div {
    background-color: var(--toneDown-white);
    border-color: transparent;
    width: 13.4rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.apply_list button {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;

}

.apply_list select {
    width: 10.3rem;
    height: 2.1rem;
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 1.2rem;
    border: 0px;
    position: relative;
    z-index: 3;
    background: url('../../../../public/img/admin/selectBoxArrow.png') no-repeat 100% 50%;
    background-color: #D9D9D9;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.apply_list select option {
    background-color: #D9D9D9;
    width: 10.3rem;
    height: 2.1rem;
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 1.2rem;
}